$dark-green-color-1: #014040;
$dark-green-color-2: #025949;
$green-color-1: #02735e;
$light-green-color: #56a697;
$gray-color: #f2f2f2;

a {
	color: $green-color-1;
	
	&:hover {
		color: $dark-green-color-2;
	}
}

.text-green {
	color: $dark-green-color-2;
}

.site_header {
	&.is-fixed {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1000;
	}
	
	&.is-scrolled {
		background: rgba($dark-green-color-1, .85);
		color: #fff;
		backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 2px 5px $dark-green-color-1;
		border-bottom: 1px solid rgba(#fff, .085);
	}
}

.hero {
	min-height: 100vh;
	
	&-inner {
		min-height: 100vh;
		background: rgba($dark-green-color-1, .88);
		backdrop-filter: grayscale(90) blur(7px);
		color: #fff;
		
		.container {
			background: rgba(#fff, 0);
		}
	}
}

.upcoming-events {
	background: #f2f2f2;
	min-height: 100vh;
	
	.card-wrapper {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.card {
		border-radius: 1.25em;
		overflow: hidden;
		box-shadow: 0 5px 15px rgba(#000, .15);
		border: 0;
		
		&-header {
            overflow: hidden;
			padding: 0;
			//max-height: 200px;
            height: 200px;
			//border-radius: 1.5em 1.5em 0 0;
			
			a {
				img {
					transition: .6s ease-in-out;
				}
				&:hover {
					img {
						transform: scale(1.025);
					}
				}
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		
		&-body {
			box-shadow: 0 5px 10px rgba(#000, .5);
			padding: 40px 20px;
			//border-radius: 0 0 1.5em 1.5em;
			display: flex;
			
			.date {
				text-align: center;
				margin-right: 15px;
				
				&-day {
					margin: 0;
					color: #333;
					font-weight: 800;
				}
				
				&-month {
					margin: 0;
					color: $green-color-1;
					font-weight: 600;
				}
			}
			
			.event-title-link {
				text-decoration: none;
				color: inherit;
			}
			
			.event-title {
				color: inherit;
			}
			
		}
	}
}

.single-hero {
    min-height: 70vh;
    background-color: $dark-green-color-1;
    color: #fff;
    //margin-top: 55px;
    margin-bottom: 50px;
}