body {
  font-family: "Opens Sans", "Product Sans", "Segoe ui", sans-serif;
}

.font-weight-900 {
  font-weight: 900;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-300 {
  font-weight: 300;
}

.side-menu-visible .navbar-toggler {
  opacity: 0;
}

.title-divider {
  height: 5px;
  background-color: #EA1A34;
  width: 5em;
  margin: 10px auto 20px;
}

.site_header {
  background-color: #111C38;
  color: red;
  height: 90px;
}
.site_header.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.site_header .navbar {
  background-color: #111C38;
}
.site_header .navbar-toggler {
  border: 0;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
.site_header .navbar-toggler:focus {
  box-shadow: none;
}
.site_header .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
  padding: 15px 20px;
  font-weight: 400;
  transition: 0.2s ease-in-out;
}
.site_header .navbar-nav .nav-link:hover {
  color: #F6B02A;
}
.site_header .navbar-nav .nav-link.active {
  color: #1BA5E6;
}

.hero {
  background: #f2fcf4;
}
.hero-filter {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(5px);
}
.site_header.is_fixed + .hero {
  padding-top: 90px;
}
.hero .three-dots {
  display: flex;
}
.hero .three-dots .dot-color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ccc;
  margin-right: 20px;
}
.hero .three-dots .dot-color.yellow {
  background: #F6B02A;
}
.hero .three-dots .dot-color.blue {
  background: #1BA5E6;
}
.hero .three-dots .dot-color.red {
  background: #EA1A34;
}

.section {
  background-color: #eee;
}

#side-menu {
  background: rgba(23, 38, 76, 0.8);
  backdrop-filter: saturate(180%) blur(7px);
}
#side-menu .nav-link {
  color: rgba(255, 255, 255, 0.8);
  padding: 15px 20px;
  font-weight: 400;
  transition: 0.2s ease-in-out;
}
#side-menu .nav-link:hover {
  color: #F6B02A;
}
#side-menu .nav-link.active {
  color: #1BA5E6;
}
#side-menu .close {
  border: 0;
  background: transparent;
  color: #fff;
}