$red-color: #BE2730;
// $red-color: #ff0012;


* {
    box-sizing: border-box;
}

body {
    background: rgba(#000, .0225);
    font-family: Roboto, "Open Sans", "Segeo UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.55;
    color: #333;
}

h1,h2,h3,h4,h5,h6 {
    color: inherit;
}


a {
    color: rgba($red-color, .8);
    transition: color .3s ease-in-out;
    font-weight: 600;

    &:hover {
        color: rgba($red-color, 1)
    }
}

q {
    line-height: normal;
}

q:before,

q:after {
    font-size: 1.5em;
    margin: 0 .25em;
    font-style: italic;
}

.clearfix {
    &:before, &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}


@media screen and (max-width: 1023px) {
    .cool-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background: $red-color;
        height: 60px;
        line-height: 60px;
        box-shadow: 0 2px 15px rgba(#000, .5);

        .container {
            min-width: 100%;
        }

        a {
            color: #fff;
            text-decoration: none;
        }

        .brand {
            float: left;
            font-size: 24px;
        }

        .nav {
            float: right;
            line-height: normal;
            position: relative;
            width: 1em;


            .menu {
                list-style-type: none;
                margin: 0;
                padding: 0;
                position: fixed;
                right: 0;
                top: 60px;
                bottom: 0;
                background: darken($red-color, 5);
                width: 300px;
                z-index: 1;
                transform: translateX(300px);
                transition: all .15s ease-in;

                li {
                    margin: 10px 10px 0;
                    a {
                        display: block;
                        padding: 15px 20px;
                        background: rgba(#fff, .1);
                    }
                }
            }
        }

        .actions {
            float: right;
            margin-top: 1px;

            .action.register {
                border: 2px solid #ddd;
                padding: 5px 20px;
                border-radius: 3em;
            }
        }

        .umber {
            float: right;
            // display: inline-block;
            cursor: pointer;
            width: 30px;
            margin-top: 20px;
            margin-left: 20px;

            .umber-icon {
                display: block;
                background: #fff;
                height: 3px;
                margin-bottom: 7px;

                transition: all .2s;
            }
        }

        &.show-sidebar {
            .menu {
                // display: none;
                transform: translateX(0);
            }

            .umber {
                // opacity: .5;

                .umber-icon:first-child {
                    transform: rotate(60deg) translateY(2px) translateX(10px);
                }

                .umber-icon:nth-child(2) {
                    opacity: 0;
                }

                .umber-icon:last-child {
                    transform: rotate(-60deg) translateY(-2px) translateX(10px);
                }
            }
        }
    }
}

@media screen and (max-width: 449px) {
    .cool-header {
        .actions {
            display: none;
        }
    }
}


@media screen and (min-width: 1024px) {
    .cool-header {
        height: 69px;
        background: rgba($red-color, .99);
        font-weight: 600;
        position: fixed;
        top: 0;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
        // @extend .clearfix;

        &+* {
            margin-top: 69px;
        }



        .brand {
            // font-size: 17px;
            padding: 17px 0;
            float: left;

            a {
                color: #fff;
                font-size: 24px;
                font-weight: 400;
                text-decoration: none;
            }
        }

        .nav {
            float: left;
            margin-left: 100px;

            .menu {
                padding: 0;
                margin: 0;
                list-style-type: none;
                display: flex;

                li {
                    a {
                        display: block;
                        padding: 19px 30px;
                        color: #fff;
                        background: transparent;
                        font-size: 17px;
                        font-weight: 600;
                        border-bottom: 5px solid transparent;
                        text-decoration: none;
                        transition-property: color, background-color, opacity;
                        transition: .3s ease-in-out;

                        &:hover {
                            background: darken($red-color, 10);
                            // border-bottom-color: darken($red-color, 10);
                        }
                    }

                    &.active a {
                        // background: darken($red-color, 100);
                        border-bottom-color: lighten($red-color, 100);
                    }
                }
            }
        }

        .actions {
            float: right;
            padding: 10px 0;

            .action {
                display: inline-block;
                padding: 13px 30px;
                // background: rgba(#000, .075);
                border-radius: 9em;
                font-weight: 600;
                border: 2px solid rgba(#fff, .75);
                color: rgba(#fff, .95);
                text-decoration: none;
                transition-property: color, background-color, border-color;
                transition: .3s ease-in-out;

                &:hover {
                    color: #fff;
                    border-color: #fff;
                }
            }
        }
    }
}

.cool-banner {
    // background: #292929;
    color: #000;

    .home-slides {
        overflow: hidden;
        width: 100%;

        .slide {
            width: 100%;
            height: 500px;
            position: relative;

            > img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 1;

            }

            .content {
                padding-top: 50px;
                padding-bottom: 50px;
                height: 100%;
                z-index: 2;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #fff;

                &:after {
                    content: ' ';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(#000, .5);
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: -1;
                }
            }
        }
    }
}

.presentation {
    background: $red-color;
    color: #fff;
}


.cool-footer {
    background: #fff;
    color: #777;

    .sec-1 {
        padding: 30px 10px 0;
        .menu {
            padding: 0;
            margin: 0;
            list-style-type: none;
            text-align: center;
            li {
                display: inline-block;
                margin: 20px 3px;

                &:not(:last-child) {
                    &:after {
                        content: '|';
                        color: rgba(#000, .25);
                        margin-left: 10px;
                    }
                }

                a {
                    font-weight: 600;
                }
            }
        }
    }

    .sec-3 {
        text-align: center;
        padding: 10px 10px 50px;
        // background: #ccc;
        font-size: 15px;
    }
}

.steps {
    background: rgb(245, 244, 244);
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 1;

    .step-item-title {
        font-weight: 900;
        color: #777;
    }

    .step-item {
        // background: #ddd;
        position: relative;
        font-weight: 600;
        color: #aaa;

        &.complete {
            font-weight: 900;
            color: #bbb;
        }

        &.current {
            color: #33b7c8;
        }

        &:not(:first-child)::before {
            content: ' ';
            position: absolute;
            top: -7px;
            left: -70px;
            width: 34px;
            height: 34px;
            border: 2px solid rgba(#000, .057);
            border-left: none;
            border-bottom: none;
            transform: rotate(45deg);
        }
    }
}

.register-box {
    background: #fff;
    color: #777;
    // height: 700px;
    padding: 0;
    box-shadow: 0 2px 10px rgba(#000, .015);
    border: 1px solid rgba(#000, .03);

    .header {
        padding: 40px 30px 0;
        border-bottom: 2px solid rgba(#000, .0575);
    }

    .form {
        padding: 30px 30px;

        label {
            display: none;
        }
    }

    .form-group {
        margin-bottom: 30px;
    }

    .form-control {
        background: #f0f0f0;
        padding: 1.5em .57em;
        border-color: transparent;
        border-radius: 2px;
    }

    .btn {
        padding: 1em .05em;
        line-height: 1;
        background: lighten($red-color, 10);
        border-color: transparent;
        transition: background-color .3s ease-in-out;

        &:hover {
            background: lighten($red-color, 5);
        }
    }
}


.skewed {
    transform: skewY(-2.5deg);
    background: #eee;
    color: #000;
    margin-top: -2.5em;
    padding-top: 5em;
    padding-bottom: 5em;

    &.skewed-inverted {
        transform: skewY(2.5deg);

        .skewded-container {
            transform: skewY(-2.5deg);
        }
    }

    .skewded-container {
        transform: skewY(2.5deg);
    }
}

.overflow-hidden {
    overflow: hidden;
}

.questions {

    .question-block {
        // border: 1px solid #ddd;
        padding: 10px 20px;
        background: rgba(#000, .025);
        position: relative;
        border-radius: 7px;
        transition: all 1s;
        margin-bottom: 10px;

        &:after {
            content: ' ';
            display: block;
            right: 20px;
            top: 20px;
            position: absolute;
            width: 15px;
            height: 15px;
            border: 1px solid rgba(#000, .15);
            border-right: none;
            border-top: none;
            transform: rotate(-45deg);
            transition: transform .3s linear;


        }

        &.open {
            &:after {
                transform: rotate(135deg);
            }
        }

        &.closed {
            &:after {
                transform: rotate(-45deg);
            }

            // .question {
            //     border-bottom: 1px solid red;
            //     margin-bottom: 0;
            //     padding-bottom: 0;
            // }

            // .answer {
            //     height: 0;
            //     overflow: hidden;
            //     padding: 0;
            // }
        }
    


        .question {
            font-size: 24px;
            cursor: pointer;
        }

        .answer {
            font-size: 19px;
            color: rgba(#000, .75);
            // margin: 0 20px;
            // border-top: 1px solid rgba(#000, .1);
            background: #fff;
            margin: 10px 0;
            padding: 10px 20px;
            border-radius: 5px;
        }
    }
}

.quote {
    border-left: 10px solid rgba(#0088cc, .55);
    padding: 15px 20px;
    background: rgba(#0088cc, .05);
    font-size: 30px !important;
}
